body {
  background-image: url("./resources/images/background.png");
  width: 100%;
  font-family: "Poppins", sans-serif;
}

#root {
  color: white;
  text-align: center;
}

/* Font styling */
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Header Styling */
.header {
  display: grid;
  grid-template-columns: 480px 480px 480px;
  padding-top: 32px;
}

.header--text {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  grid-column: 2;
  justify-self: center;
}

.header--button-section {
  grid-column: 3;
  display: flex;
  padding-right: 40px;
  justify-content: space-evenly;
}

.header--button {
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
  height: fit-content;

  border-radius: 8px;
  border: none;
  color: white;
  box-shadow: none;
}

.header--button-restart {
  background-color: #f4a236;
}

.header--button-exit {
  background-color: #d4190c;
}

/* Starting page styling */
.start-page--text {
  font-size: 50px;
  padding: 80px 0;
}

.start-page--player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}

.start-page--player-block {
  display: flex;
  flex-direction: column;

  padding: 20px;
  align-items: center;
}

.start-page--player-image {
  height: 220px;
  width: 180px;
  padding-bottom: 40px;
}

.start-page--input {
  height: 48px;
  width: 374px;
  border-radius: 8px;
  border: none;

  font-size: 16px;
  padding-left: 12px;
  color: black;
  font-weight: 500;
}

.start-page--start-button {
  height: 64px;
  width: 220px;

  background-color: #0ab169;
  border-radius: 8px;
  border: none;

  font-size: 28px;
  font-weight: 700;
  color: white;
}

/* Game Page styling */
.game {
  display: flex;
  padding: 0px 45px;
  padding-top: 40px;
  max-width: 1350px;
  justify-content: space-between;
  align-items: center;
}

.game--player-block {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 220px;
  height: 344px;
}

.game--player-img {
  max-height: 180px;

  padding-top: 28px;
}

.game--player-name {
  height: 30px;
  font-size: 24px;
  font-weight: 800;
}

.game--player-score {
  font-size: 28px;
  font-weight: 600;
}

.game--game-block {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.card--image {
  height: 112px;
  width: 72px;
  padding: 10px;
}

.game--active-player {
  width: 220px;
  height: 64px;
  background-color: white;
  border-radius: 8px;
  color: #489dda;
  text-align: center;

  font-size: 28px;
  font-weight: 700;
}

.game--player-one-active {
  position: fixed;
  bottom: 220px;
  left: 50px;
}

.game--player-two-active {
  position: fixed;
  bottom: 220px;
  right: 50px;
}

/* Leaderboard styling */
.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.leaderboard--winning-player {
  height: 232px;
  width: 332px;
}

.leaderboard--winner-container {
  display: flex;
}

.leaderboard--winner {
  background-image: linear-gradient(#ffd975, #ffffff);
}
.leaderboard--loser {
  background-color: white;
}

.leaderboard--info {
  display: flex;
  width: 535px;
  height: 100px;
  align-content: center;
  justify-content: space-around;
  color: #0d4477;
  font-size: 20px;

  border-radius: 8px;
  border: none;
}

.leaderboard--info-img {
  height: 74px;
  width: 74px;
  align-self: center;
}
