body {
  background-image: url("./resources/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#root {
  color: white;
  text-align: center;
  height: 100vh;
}

.app {
  height: 100%;
}

.outlet {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Font styling */
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Header Styling */
.header {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-top: 32px;
}

.header--text {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  grid-column: 2;
  justify-self: center;
}

.header--link-section {
  grid-column: 3;
  display: flex;
  padding-right: 40px;
  justify-content: space-evenly;
}

.header--link {
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
  height: fit-content;

  border-radius: 8px;
  border: none;
  color: white;
  box-shadow: none;
  text-decoration: none;
}

.header--link-restart {
  background-color: #f4a236;
}

.header--link-exit {
  background-color: #d4190c;
}

/* Starting page styling */
.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.start-page--text {
  font-size: 50px;
  /* padding: 80px 0; */
}

.start-page--player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 90px; */
}

.start-page--player-block {
  display: flex;
  flex-direction: column;

  padding: 20px;
  align-items: center;
}

.start-page--player-image {
  height: 220px;
  width: 180px;
  padding-bottom: 40px;
}

.start-page--input {
  height: 48px;
  max-width: 380px;
  min-width: 300px;
  border-radius: 8px;
  border: none;

  font-size: 16px;
  padding-left: 12px;
  color: black;
  font-weight: 500;
}

.start-page--start-button {
  height: 64px;
  width: 220px;

  background-color: #0ab169;
  border-radius: 8px;
  border: none;

  font-size: 28px;
  font-weight: 700;
  color: white;
}

/* Game Page styling */
.game {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  padding-top: 40px;
  width: 100%;
}

.game--player-block {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-width: 200px;
  max-width: 250px;
  max-height: 350px;
  min-height: 300px;
}

.game--player-img {
  max-height: 180px;

  padding-top: 28px;
}

.game--player-name {
  height: 30px;
  font-size: 24px;
  font-weight: 800;
}

.game--player-score {
  font-size: 28px;
  font-weight: 600;
}

.game--game-block {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.card--image {
  max-height: 112px;
  max-width: 72px;
  padding: 8px;
}

.game--active-player {
  min-width: 200px;
  max-width: 250px;
  height: 64px;
  background-color: white;
  border-radius: 8px;
  color: #489dda;
  text-align: center;

  font-size: 28px;
  font-weight: 700;
}

/* Leaderboard styling */
.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
}

.leaderboard--text h2 {
  font-size: 48px;
  margin: 0;
}
.leaderboard--text h1 {
  font-size: 72px;
  margin: 0;
}

.leaderboard--winning-player {
  height: 232px;
  width: 332px;
}

.leaderboard--winner-container {
  display: flex;
  position: relative;
  padding-bottom: 12px;
}

.leaderboard--winner-token {
  position: absolute;
  left: -50px;
  top: 26px;
  width: 45px;
}

.leaderboard--winner {
  background-image: linear-gradient(#ffd975, #ffffff);
}
.leaderboard--loser {
  background-color: white;
}

.leaderboard--info {
  display: flex;
  width: 535px;
  height: 100px;
  align-content: center;
  justify-content: space-around;

  color: #0d4477;
  font-size: 20px;
  text-align: center;

  border-radius: 8px;
  border: none;
}

.leaderboard--info p {
  padding-top: 12px;
}

.leaderboard--info-img {
  height: 74px;
  width: 74px;
  align-self: center;
}

.play-again {
  background-color: #a7daff;
  color: #164464;
  width: 164px;
  height: 36px;
  text-align: center;
  padding-top: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  body {
    /* transform: rotate(90deg); */
    height: 100vw;
    width: 100vh;
    margin: none;
  }

  #root {
    width: 100vh;
    height: 100vw;
  }
  /* Header Styling for rotate screen */
  .header--link {
    height: 32px;
  }
  /* Start Page Styling for rotate screen */

  /* Leaderboard Styling for rotate screen */

  /* Game Styling for rotate screen */
  .game {
    display: grid;
    grid-template-columns: 50vh 50vw;
  }
  .game--game-block {
    grid-column-start: 1 / span 2;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 100vh;
  }

  .game--player-block {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 16px;

    max-height: 64px;
    min-height: fit-content;
  }

  .game--player-img {
    max-height: 80px;
    min-height: 50px;
  }

  .game--player-text {
    font-size: 16px;
  }
  .game--player-one-block {
    grid-area: 2 / 1/2/2;
  }

  .game--player-two-block {
    grid-area: 2/2/2/3;
  }
  .game--active-player {
    font-size: 16px;
    height: 30px;
    max-width: 220px;
    min-width: 120px;
  }

  .card--image {
    max-height: 50px;
    max-width: 30px;
    padding: 4px;
  }
}
